// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
      background-color: rgb(240, 240, 240);
}
.main-page {
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      max-width: 1500px;
      
}

.image {
      // background-image: url({window.navURL});
      width: 100%;
      z-index: -1;
      margin-bottom: -300px;
      -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, 
  color-stop(1.00,  rgba(0,0,0,0)),
  color-stop(0.00,  rgba(0,0,0,1)));
      
}
.product_item {
      display: flex;
      flex-direction: column;
      margin: 10px;
      border: 2px;
      border-radius: 5px;
      max-height: 800px;
      width: 90%;
      padding: 10px;
      background-color: white;
      z-index: 1;
      justify-content: center;
      align-items: center;
}

.product_link{
      text-decoration: none;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
       
}

.name{
      font-size: 40px;
      font-weight: bold;
}

.details {
      font-size: 20px;
}

.rating {
      padding-top: 10px;
}
.details-price{
      display: flex;
      text-align: left;
}

.product-ul1{
      display: grid;
      grid-template-columns: 50% 50%;
      // grid-column-gap: 5px;
      // margin-left: 5px;
      // margin-right: 5px;
      z-index: 1;
      justify-content: center;
      justify-items: center;
      // border: 1px solid yellow;
      background-color: white;
      border-radius: 5px;
 }

 .product-ul2{
      display: grid;
      grid-template-columns: 33% 33% 33%;
      // grid-column-gap: 5px;
      // margin-left: 5px;
      // margin-right: 5px;
      z-index: 1;
      justify-content: center;
      justify-items: center;
      // border: 1px solid yellow;
      background-color: white;
      border-radius: 5px;
 }

.product_link > img {
      max-height: 300px;
      width: 200px;
      height: 300px;
      object-fit: contain;
      margin-bottom: 15px;

}

.item-details{
      max-height: 100px;
      margin-bottom: 10px;
      width: 200px;
      margin: 0;
}

.details-price {
      margin-top: 5px;
      font-weight: bolder;
}

.product_link > button {
      background-color: rgba(240,193,75,1);
      border: 1px solid;
      margin-top: 10px;
      border-radius: 3px;
      border-color: rgb(227, 184, 74) rgba(240,193,75,1) ;
      color: black;
} 

.product-group1 {
      display: grid;
      grid-template-columns: 50% 50%;
      // border: 1px solid red;
      grid-column-gap: 10px;
      width: 1300px;
      margin: auto;
      
}


.product-group2{
      // display: grid;
      // grid-template-columns: 100%;
      // border: 1px solid red;
      // grid-column-gap: 10px;
      width: 1300px;
      margin: auto;
}

.product-ul3{
       display: grid;
      grid-template-columns: 25%  25% 25% 25%;
      // grid-column-gap: 5px;
      // margin-left: 5px;
      // margin-right: 5px;
      z-index: 1;
      justify-content: center;
      justify-items: center;
      // border: 1px solid yellow;
      background-color: white;
      border-radius: 5px;
      margin-top: 20px;
}



