.container-show {
      display: grid;
      grid-template-columns: 40%  40% 20%;
      background-color: white;
      max-width: 1500px;
      margin: auto;
}

.show-image {
      max-width: 80%;
      margin: 40px;
}

.grid-show-1 {
      max-width: 80%;
      margin: 40px;
}

.grid-show-2 {
      max-width: 80%;
      margin: 40px;
      border: 1px solid lightgrey;
      border-radius: 8px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.product-show-name {
      font-size: x-large;
      padding-bottom: 40px;
}

.show-rating {
      border-bottom: 1px solid lightgrey;
      padding-bottom: 10px;
      // font-size: small;
}

.product-show-price > span {
      font-size: large;
      color: #B12704;
}

.product-show-lprice > span {
      text-decoration: line-through;
      color: gray;
}

.product-show-lprice  {
      color: gray;
      padding: 5px;
}
.product-show-price  {
      color: gray;
      padding: 5px;
}

.product-description{
      padding: 10px;
      word-spacing: 5px;
      line-height: 1.5;
      // text-indent: 10px;
      text-align: justify;
      
      
}
.free-return {
      color: #007185;
}

.product-show-invetory{
      color: #007600;
      font-weight: bold;
}

.deliver-to {
      color: #007185;
      font-size: small;
}

.fast-delivery {
      font-weight: bold;
}

.regular-font {
      font-size: 15px;
      font-weight: normal;
}

.buttons {
      display: flex;
      flex-direction: column;
      gap: 7px;
}

.show-button-1 {
      width: 100%;
      height: 1.8rem;
      border: solid 1px lightgrey;
      border-radius: 15px;
      background: linear-gradient(0deg, rgb(240, 211, 140) 0%, rgba(240,193,75,1) 5%);  
      font-family: 'Lato', sans-serif;
}

.show-button-2 {
      width: 100%;
      height: 1.8rem;
      border: solid 1px lightgrey;
      border-radius: 15px;
      background: linear-gradient(0deg, #FF9900 0%, #FF9900 5%);  
      font-family: 'Lato', sans-serif;

}

.qty {
      border-radius: 10px;
}

#qty{
      border-radius: 10px;
      box-shadow: yellow;
}