// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
      // background-color: rgb(229, 234, 234);
}

.session-form {
      padding: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
}
.label {
      position: relative;
      // left: 32%;
      align-self: flex-start;
      font-weight: 800 !important;
      font-family: 'Lato', sans-serif;     
}
.container{
      max-width: 25.5rem;
      margin: auto;
      border: solid 1px lightgrey;
      border-radius: 4px;
      overflow: hidden;
}


.input {
      width: 20.5rem;
      height: 1.5rem;
      border: solid 1px lightgrey;
      border-radius: 5px;
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      overflow: hidden;
      
}
.form-title {
      font-size: 28px;
      font-weight: 600;
      align-self: flex-start;
      font-family: 'Lato', sans-serif;
}

.submit-button {
      width: 21rem;
      height: 2.4rem;
      border: solid 1px lightgrey;
      border-radius: 4px;
      background: linear-gradient(0deg, rgba(168,135,52,1) 0%, rgba(240,193,75,1) 5%);  
      font-family: 'Lato', sans-serif;
}

.signup-link {
      text-decoration: none;
      color: black;
}

.session-form p{
      font-family: 'Lato', sans-serif;
      font-size: 0.8rem;
}

.span{
      color: #0066c0;
}

.input, textarea {
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
      padding: 6px 0px 3px 6px;
      margin: 5px 1px 3px 0px;
      border: 1px solid #DDDDDD;
}

.input:focus, textarea:focus {
      box-shadow: 0 0 5px rgba(240,193,75,1);
      padding: 6px 0px 3px 6px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgba(240,193,75,1);
}
.error {
      font-family: 'Lato', sans-serif;
      font-size: 0.8rem; 
      color: red;
}

.form input[type="email"] {
    box-sizing: border-box;
    padding-left: 10px;
}
.outer-container{
      display: flex;
      flex-direction: column;
      align-items: center;
}

.logo{
      width: 175px;
      height: 75px;
}